#auth0-login-form {
    margin: 0 auto 20px;
    width: 100%;
}

.auth0-lock.auth0-lock .auth0-lock-widget.auth0-lock-widget {
    width: 320px;
}

.auth0-lock.auth0-lock .auth0-lock-form p {
    margin-bottom: 10px !important;
    text-align: left !important;
}

.auth0-lock.auth0-lock .auth0-lock-cred-pane,
.auth0-lock.auth0-lock .auth0-lock-header-bg .auth0-lock-header-bg-blur,
.auth0-lock.auth0-lock .auth0-lock-widget,
.auth0-lock.auth0-lock .auth0-lock-header {
    border-radius: 0 !important;
}

.auth0-lock.auth0-lock .auth0-lock-content {
    padding: 26px 24px !important;
}

.auth0-lock.auth0-lock .auth0-lock-form {
    padding: 0 !important;
}

#extra-options a {
    text-align: center;
    height: 30px;
    line-height: 28px;
    padding: 0 12px 2px;
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
    vertical-align: baseline;
    display: inline-block;
    font-size: 13px;
    margin: 0;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
    width: 100%;
 }

 #extra-options a:hover {
    background: #008ec2;
    border-color: #006799;
    color: #fff;
 }
